/* the font name is Concert One, which is one of the Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fuzzy+Bubbles:wght@700&family=Happy+Monkey&family=Prompt:ital,wght@1,600&display=swap');
.root {
    -fx-content-display: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}

#test {

    -fx-background-color: radial-gradient(focus-angle 12deg, focus-distance 0%, center 40% 40%, radius 110%, rgb(255, 255, 255) 40%, rgb(66, 66, 66) 110%);
    -fx-opacity: 90%;
    -fx-border-color: #ffe72f;
    -fx-border-width: 2px;
}

#btnLogin:hover {

    -fx-cursor: hand;
}

#UserNameField, #PasswordField {
    -fx-border-color: #543f3f;
}

#userIcon {
    -fx-background-image: url('../img/lock-solid.svg');
    -fx-background-size: 100%;
}

#titleView {
    -fx-font-size: 30px;
    -fx-font-family: 'Concert One', cursive;
    -fx-font-weight: bold;
    -fx-text-fill: #543f3f;
 }
#btnLogin{
    -fx-font-size: 15px;
}
#pane{
    -fx-background-color: radial-gradient(focus-angle 30deg, focus-distance 0%, center 60% 60%, radius 100%, rgb(215, 100, 254) 40%, rgb(0, 203, 214) 100%);

}

